<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">thebard</a>
        <ul class="right hide-on-med-and-down">
            <li class="waves-effect waves-red"><a href="/tag/tragedy"><i class="fa fa-meh-o"></i></a></li>
            <li class="waves-effect waves-purple"><a href="/tag/history"><i class="fa fa-book"></i></a></li>
            <li class="waves-effect waves-light"><a href="/tag/comedy"><i class="fa fa-heart"></i></a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav" style="left: -250px;">
            <li><a href="/tag/tragedy" style="text-align: center;"><i class="fa fa-meh-o"></i></a></li>
            <li><a href="/tag/history" style="text-align: center;"><i class="fa fa-book"></i></a></li>
            <li><a href="/tag/comedy" style="text-align: center;"><i class="fa fa-heart"></i></a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
</nav>
