{{#each text}}
<tr>
    <td>
        <div class="row" style="font-size: 14pt;">
            {{#ifCond $.type '==' 'stage'}}
            <div class="col l2 m3"></div>
            <div class="col l6 m9"><i>{{this._}}</i></div>
            {{/ifCond}}
            {{#ifCond $.type '==' 'enter'}}
            <div class="col l2 m3"></div>
            <div class="col l6 m9 green-text"><i>ENTER {{this._}}</i></div>
            {{/ifCond}}
            {{#ifCond $.type '==' 'verse'}}
            <div class="orange-text col l2 m3">{{$.char}}</div>
            <div class="col l6 m9">{{htmlLines this._ }}</div>
            {{/ifCond}}
            {{#ifCond $.type '==' 'prose'}}
            <div class="orange-text col l2 m3">{{$.char}}</div>
            <div class="col l6 m9">{{htmlLines this._ }}</div>
            {{/ifCond}}
            {{#ifCond $.type '==' 'exit'}}
            <div class="col l2 m3"></div>
            <div class="red-text col l6 m9"><i>EXIT {{this._}}</i></div>
            {{/ifCond}}
            {{#ifCond $.type '==' 'exeunt'}}
            <div class="col l2 m3"></div>
            <div class="red-text col l6 m9"><i>EXEUNT {{this._}}</i></div>
            {{/ifCond}}
            <div class="col l4 m12">
                <ul>
                    {{#each this.note}}
                    <li>{{this.$.start}}{{#if this.$.end}}-{{this}}{{/if}}. {{this.$.word}} <span class="blue-text">{{this._}}</span></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </td>
</tr>
{{/each}}