<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
{{> nav}}
<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col s12">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header">Do I have to pay for this service? Is there a premium plan?</div>
                    <div class="collapsible-body"><p><b>No.</b> Making this service free is very important to us. The only way we hope to make money to improve our offering is through donations from people like you.</p></div>
                </li>
                <li>
                    <div class="collapsible-header">Can I read the code which this app runs on?</div>
                    <div class="collapsible-body"><p><b>YEAH!!!</b> We believe that open source has distinct benefits both for the software itself and for the community. You can view the source at <a href="https://github.com/ws-cannon/thebard">https://github.com/ws-cannon/thebard</a>. </p></div>
                </li>
                <li>
                    <div class="collapsible-header">Why don't you have the entire cannon?</div>
                    <div class="collapsible-body"><p>Digitizing the cannon is a lengthy process and although we have the help of other websites and computers, the process is very much a manual one. You are welcome to contribute a few scenes or even a whole play.</p></div>
                </li>
                <li>
                    <div class="collapsible-header">What format do you use for storing plays?</div>
                    <div class="collapsible-body"><p>We use our own document format called SML (Script/Shakespeare Markup Language) which is an opinionated and distinct subset of XML. This allows for very easy data entry by project contributors. Here is the header and first scene from comedy of errors.</p>
                        <script src="https://gist.github.com/Falkirks/28ac3afd1a68e2cbe5cd.js"></script>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Can I download PDF copies of plays?</div>
                    <div class="collapsible-body"><p><b>Not yet.</b> This feature is planned, but is rather complicated to integrate into our current ecosystem.</p></div>
                </li>
                <li>
                    <div class="collapsible-header">What edition do you use for the text?</div>
                    <div class="collapsible-body"><p>We consult a hode-podge of editions, for speedy digitization, we pull data from <a href="http://shakespeare.mit.edu/">shakespeare.mit.edu</a>, this website uses <u>The Moby Shakespeare Edition</u>. We make minor edits to the edition in order to imporve clarity, all edits can be discussed on GitHub and changes can be proposed.</p></div>
                </li>
                <li>
                    <div class="collapsible-header">How do you enter data? Is it all by hand?</div>
                    <div class="collapsible-body"><p>We do enter some data by hand. However, the initial conversion to SML is done by quill, our awesome format conversion tool.</p></div>
                </li>
                <li>
                    <div class="collapsible-header">How does PDF rendering work? Why is it limited?</div>
                    <div class="collapsible-body"><p>We were very excited to introduce the ability to export pages to PDF. This process is done entirely in your browser using new web technologies.</p></div>
                </li>
                <li>
                    <div class="collapsible-header">How is the service licensed? Who owns the code?</div>
                    <div class="collapsible-body"><p>This project is dedicated to the public domain. This includes all source code and play text.</p></div>
                </li>
                <li>
                    <div class="collapsible-header">Can I jump to a specific line?</div>
                    <div class="collapsible-body"><p><b>For sure.</b> You just need to add <code>#lineNumber</code> to the end of any play URL.</p></div>
                </li>
                <li>
                    <div class="collapsible-header">I don't like your header, can I get rid of it?</div>
                    <div class="collapsible-body"><p><b>If you want to.</b> You can add <code>?clean</code> to any play URL and the header will be removed.</p></div>
                </li>
            </ul>
        </div>
    </div>
</div>
{{> scripts}}

</body>
</html>