<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
{{> nav}}
<div class="parallax-container">
    <div class="parallax"><img src="https://sunshineinlondon.files.wordpress.com/2011/08/king-lear-at-the-globe-theatre-ii.jpg"></div>
</div>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h2 class="header center orange-text">Shakespeare for the <code>Internet</code></h2>
        <div class="row center">
            <h5 class="header col s12 light">A modern edition of Shakespeare's canon suited for an audience of today.</h5>
        </div>
        <div class="row center">
            <a id="download-button" onclick="Materialize.toast('Not yet available to download.', 4000)" class="btn-large waves-effect waves-light orange"><i class="mdi-file-file-download"></i> Download</a>
        </div>
        <br><br>

    </div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="fa fa-terminal"></i></h2>
                    <h5 class="center">Programatically accessible</h5>

                    <p class="light">An API is important to allow users to access content without the nuisance of a GUI. You can access plays, acts, scenes and more through the API.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="fa fa-github"></i></h2>
                    <h5 class="center">Built Collaboratively</h5>

                    <p class="light">This edition was built collaboratively through GitHub and all major code is open source. Feel free to contribute a feature or fix a bug.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="mdi-social-public"></i></h2>
                    <h5 class="center">Public Domain</h5>

                    <p class="light">The entire project is decicated to the public domain. This includes code and scripts. All contributors sign a CLA waiving copyright interest to their contribution.</p>
                </div>
            </div>
        </div>

    </div>
    <br><br>

    <div class="section">

    </div>
</div>

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About</h5>
                <p class="grey-text text-lighten-4">This project is made possible by a group of students who wanted a better edition. Many years of experience were put into making this site usable and friendly for seasoned actors and novices.</p>

            </div>
            <div class="col l2 s4">
                <h5 class="white-text"><i class="fa fa-meh-o"></i></h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l2 s4">
                <h5 class="white-text"><i class="fa fa-book"></i></h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l2 s4">
                <h5 class="white-text"><i class="fa fa-heart"></i></h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    {{> copyright}}
</footer>
{{> scripts}}
<div class="hiddendiv common"></div><div class="drag-target" style="left: 0px; -webkit-user-drag: none;"></div></body></html>

