<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
{{> nav}}
<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row">
                <div class="col s12">
                    <h3 class="blue-text">Noah</h3>
                    <h6><b>Comedy of Errors</b></h6>
              <p class="black-text">
                Noah is a high school student, programmer and actor living in Vancouver, CA. He is obsessed with the works of William Shakespeare. Noah created this edition because he lacked a clean and trustworthy online edition of the canon.
              </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{> scripts}}

</body>
</html>