.category-link{
    font-size: 55pt !important;
}
.card-panel{
    padding: 25px !important;
}
.container{
    width: 90% !important;
}
@media(min-width: 992px) {
    .playlist-image{
        max-height: 450px;
    }
    .playlist-card{
        height: 500px;
    }
}